p { color : turquoise; font-size: large; }

li { color : yellowgreen;text-align: center; }

html { background-color: black; }

html { font-family: "New Rocker"; }

h1 { color: hotpink; }
h2 { color: yellowgreen; }
